{% load static %}
<div class="history" product-id="{{item.id}}">

    {% for p in item.products %}
        <div class="product">
            <div class="name">{{ p.name }}</div>

            <div class="price-full">
                <span class="price">{{ p.get_price }}</span>
            </div>

            <div class="count">
                count: <b>{{ p.count }}</b>
            </div>
        </div>
    {% endfor %}

  
    <div class="status {{ item.status }}">{{ item.status }}</div>
    <div class="date">{{ item.created_at }}</div>
    <div class="currently">{{ item.currency }}</div>

</div>