{% load static %}

<div class="history" product-id="{{item.id}}">

    {% for p in item.products %}
    <div class="product">
        <div class="name">{{ p.name }}</div>

        <div class="count">
            count: <b>{{ p.count }}</b>
        </div>

        <div class="price-full">
            cost: <span class="price">{{ p.cost }}</span>
        </div>
    </div>
    
    {% endfor %}

    <div>Total cost: <b>{{ item.total_cost }}</b></div>

    <div class="history-data">
        <div class="status {{ item.status }}"><b>Status: </b>{{ item.status }}</div>
        <div class="created-at"><b>Time: </b>{{ item.time }}</div>
        <div class="currently"><b>Currency: </b>{{ item.currency }}</div>
    </div>

</div>
