{% load static %}

<div class="history" product-id="{{item.id}}">

    {% for p in item.products %}
    <div class="product">
        <div class="name">{{ p.name }}</div>

        <div class="count">
            count: <b>{{ p.count }}</b>
        </div>

        <div class="price-full">
            cost: <span class="price">{{ p.cost }}</span>
        </div>
    </div>
    
    {% endfor %}

    <div class="total-cost">
        <div>Total cost:</div>
        <div><b>{{ item.total_cost }}</b></div>
    </div>

    <div class="history-data">
        <div class="created-at">Time: <b>{{ item.time }}</b></div>
        <div class="currently">Currency: <b>{{ item.currency }}</b></div>
        <div class="status {{ item.status }}">
            Status: <b>{{ item.status }}</b>
            <svg class="ico {{ item.status }}">
                <use xlink:href="{% static 'svg/sprite.svg' %}#main--res_svg--{{ item.status }}"></use>
            </svg>
        </div>
    </div>

</div>
