{% extends 'main/base.html' %}

{{ title }}

{% block content %}

<div class="container">
    {% if products %}

        <script id="data-currencies">{{ currencies | safe }}</script>

        <div class="products">
        {% for product in products %}
            {%  include 'basket/item.html' with item=product %}
        {% endfor %}
        </div>

        <div>Count products: <b>{{ count_type }}</b></div>
        {{ buy_html | safe }}
        
    {% else %}
        <p class="no-products">Not products!</p>
    {% endif %}
</div>

{% endblock %}