{% load static %}

<div class="product" data-type-change="{{item.status_favorites}}" data-product-id="{{item.id}}">
    <div class="name">{{ item.name }}</div>
    <div class="description">{{ item.description }}</div>
    
    <div class="price-full">
        <span class="price">{{ item.get_price }}</span>
    </div>


    {% if item.is_authenticated %}
    <div class="change-favorites">
        <svg class="ico ico-favorites-{{item.status_favorites_style}}">
            <use xlink:href="{% static 'svg/sprite.svg' %}#favorites--res_svg--favorites"></use>
        </svg>
    </div>
    {% endif %}

    {{ item.buy_html | safe }}
    <button type="submit" class="basket-button btn btn-danger" data-product-id="{{item.id}}" data-type-change="1">Add to basket</button>
</div>