{% load static %}
<button {% if button.buttom_id %}id="{{ button.buttom_id }}"{% endif %}
        class="oepn-modal {{ button.classes }}" 
        data-modal_id="{{ button.modal_id }}" 
        data-app_name="{{ button.app_name }}"
        {% if button.params %}data-params="{{ button.params }}"{% endif %}
        {% if button.custom_title %}data-title="{{ button.custom_title }}"{% endif %}
        {% if button.run_after_init %}data-run-after-init="{{ button.run_after_init }}"{% endif %}
        {% if button.run_after_close %}data-run-after-close="{{ button.run_after_close }}"{% endif %}
        {% if button.rerender_always %}data-rerender-always="1"{% endif %}>
        <svg class="{{ button.svg_classes }}">
                <use xlink:href="{% static 'svg/sprite.svg' %}{{ button.svg }}"></use>
        </svg>
</button>